html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height:100%;
    display: flex;
    background-color:#bfced8;
    flex-direction:column;
}

#music{
    justify-content:center;
    width: 70%;
    height: 90%;
}

button{
    justify-content:center;
    width: 100px;
    height: 30px;
}

.social-image{
    width: 30px;
    margin: 15px;
}

.header {
    color:#fff8e7;
    font-size:50px;
    background-color:#495a66;
    display: flex;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    padding:10px;
}

.navbar {
    
    background-color:#809eb2;
    display:flex;
    justify-content:space-around;
    padding:10px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-align: center;
}

.content {
    background-color:#bfced8;
    display: flex;
    justify-content:center;
}

.aboutMain {
    display: flex;
    background-color:#b3a0c9;
    margin:0;
    padding:5px;
}

.leftPane {
    color:#595065;
    font-family: 'Catamaran', sans-serif;
    width: 60%;
}

.rightPane {
    width: 40%;
}

#rdium {
    height: 300px;
}

#group {
    height: 325px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color:#5d807f
}



.navbar a {
    color:#ffd5b8;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}

.header a{
    color:#fff8e7;
}

.header a:hover {
    color:#7FCDCD;
}

.gallery {
    background-color:#8ba691;
}

.thumbnail {
    display: flex;
    justify-content:center;
}

.thumbnail-image {
    display: flex;
    justify-content:center;
}